build/bundles
*.log*
.vscode
.idea
.test
.out
!./.gitignore
IMAGEBUILD/
coverage.txt
.DS_Store
logs/
*.swp
/layotto
/cover.out
vendor/
demo/state/redis/client
_output/

# node
node_modules/

# Java
target/
*.class
.DS_Store
application.pid
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings

# Idea
.idea
*.iml

# git
*.orig

# integrate test
integrate_test.sh

# production of make script
goimports

# production of quickstart testing
cmd/layotto/layotto
cmd/layotto/nohup.out
cmd/layotto_multiple_api/layotto
cmd/layotto_multiple_api/nohup.out
default.etcd/
demo/configuration/common/client
demo/file/client
demo/oss/client
demo/flowcontrol/client
demo/lock/redis/client
demo/pubsub/redis/client/publisher
demo/pubsub/redis/server/nohup.out
demo/pubsub/redis/server/subscriber
demo/sequencer/common/client
demo/state/common/client
etc/script/mdx
etcd
layotto_wasmer
layotto_wasmtime
nohup.out
/demo/lock/common/client
/demo/secret/common/client
/demo/pubsub/client/publisher
/demo/pubsub/server/subscriber

# production of dead link checker
/result.txt
