build/bundles
*.log*
.vscode
.idea
.test
.out
layotto
!./.gitignore
IMAGEBUILD/
coverage.txt
.DS_Store
logs/
*.swp
/cover.out
vendor/
demo/state/redis/client

# node
node_modules/

# Java
target/
*.class
.DS_Store
application.pid
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings

# Idea
.idea
*.iml

# git
*.orig

# integrate test
integrate_test.sh